.bold {
  font-weight: 700;
}

.stickySection {
  position: sticky;
  top: 0;
  z-index: 50;
  padding: 2.5rem 0;
  background: #fff;
  text-align: center;
  mask-image: linear-gradient(to bottom, white 60%, transparent 100%);
}

.inquiryButton {
  display: inline-block;
  text-align: center;
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  line-height: 1.25;
}
